@model Mars_Store.Models.Entities.CTDONHANG

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID_CTDH)

        <div class="form-group">
            <label class="control-label col-md-2" for="phone">MÃ ĐƠN HÀNG</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_DH)
                @Html.ValidationMessageFor(model => model.ID_DH)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="phone">MÃ SẢN PHẨM</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_SP)
                @Html.ValidationMessageFor(model => model.ID_SP)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="phone">SỐ LƯỢNG</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.soluong)
                @Html.ValidationMessageFor(model => model.soluong)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="phone">ĐƠN GIÁ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dongia)
                @Html.ValidationMessageFor(model => model.dongia)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LƯU LẠI" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("QUAY LẠI", "Index")
</div>
